{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create Poll{% endblock %}

{% block content %}
<div class="row p-4 m-2 justify-content-center">
    <div class="card border-0 shadow" style="width: 360px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bg-dft text-white text-center p-3">Create A New Poll</h3>
            </div>
                
            <form method="POST" class="p-3">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group small">
                                <label for="question">Enter Poll Question</label>
                            </div>
                            {{q_form|crispy}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group small">
                                <label for="option1">Option 1</label>
                            </div>
                            {{c_form|crispy}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group small">
                                <label for="option1">Option 2</label>
                            </div>
                            {{c_form|crispy}}
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-dft">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}