<!-- Footer -->
{% load static%}
<footer class="py-3" style="background-color: black;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6">
              <h5 class="text-light">Smart-Tech</h5>
              <p><a class="text-light" href="#">About Us</a></p>
              <p><a class="text-light" href="tel:+254795067776">Contact Us</a></p>
              <p><a class="text-light" href="#">Subscribe</a></p>
              <p><a class="text-light" href="#">Join Our Staff</a></p>
          </div>
          <div class="col-sm-6">
            <h5 class="text-light">Smart-Tech Services</h5>
            <p><a class="text-light" href="#">E-School</a></p>
            <p><a class="text-light" href="#">E-comerce</a></p>
            <p><a class="text-light" href="#">Cv Generator</a></p>
            <p><a class="text-light" href="#">E-Help and Support</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <figure class="text-center">
        <img src="{% static '/blog/img/Smart Tech.svg' %}" alt="" title="Smart-tech blog">
        <figcaption>
          <a class="text-light ml-2" href="tel:+254795067776">Call</a> <a class="text-light ml-2" href="mailto:theprogrammer@gmail.com">Send Mail</a><a class="text-light ml-2" href="sms:+254795067776">Send Sms</a>
        </figcaption>
      </figure>
  </div>
    </div>
  </div>
    <div class="container">
      <p class="m-0 text-center t-h">Copyright &copy; Smart-Tech Blog - {% now "Y" %}</p>
    </div>
    <!-- /.container -->
  </footer>
