{% extends "base.html" %}
{% load static %}
{% block title %}My courses{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row shadow p-3">
        <h3>My courses</h3>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
            {% for course in object_list %}
            <div class="card nmp border-0 m-2" style="max-width: 250px;">
                <img src="{% static 'img/sc.jpeg' %}" class="card-img" alt="">
                <h4 class="card-header">{{ course.title }}</h4>
            <p>{{course.overview|truncatechars:25}}</p>
            <p>
                <a class="btn btn-dft btn-sm m-2 text-white" href="{% url 'course_edit' course.id %}"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
                <a class="btn btn-danger btn-sm m-2 text-white" href="{% url 'course_delete' course.id %}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                <a class="btn btn-success btn-sm m-2 text-white" href="{% url 'course_module_update' course.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Edit modules</a>
                {% if course.modules.count > 0 %}
                <a class="btn btn-primary btn-sm m-2 text-white" href="{% url 'module_content_list' course.modules.first.id%}"><i class="fa fa-tasks" aria-hidden="true"></i> Manage contents</a>
                {% endif %}
            </p>
            </div>
            {% empty %}
            <p class="p-3 alert alert-warning">You haven't created any courses yet.</p>
            {% endfor %}
            </div>
            <p>
            <a href="{% url 'course_create' %}" class="btn btn-dft m-3 text-white"><i class="fa fa-plus" aria-hidden="true"></i> Create new
            course</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}